.pricing-block-containerb {
}

.pricing-block-contentb {
    background: #fff;
	margin-top: 15px;
	margin-bottom:15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
    transition: all 0.2s ease-in-out 0s;
    position: relative;
    border: 10px solid #fff;
	height: auto;
}

.pricing-blockb img{
	margin-left:auto;
	margin-right:auto;
}

.pricing-blockb h3 {
	margin: 10px;
	text-align: center;
    font-size:1em;
    text-transform:uppercase;
    padding-bottom:0;
}

.pricing-subb {
    font-style: italic;
    color:#ccc;
    margin:0 0 25px 0;
}

/*Price*/

.pricingb {
	display:none;
	position:relative;
    background: #f5f5f5;
    padding: 25px;
	min-width: 100%; 
	line-height: 1;
	border: solid;
	border-color: white;
	border-width: 5px;
	z-index:2;
}

.priceb {
    display: inline-block;
    font-size: 4em;
    font-weight: 700;
    position: relative;
}

.priceb span {
    position: absolute;
    top: 0;
    left: -20px;
    font-size:  1.2em;
}

.pricingb  p {
    font-style:italic;
    color:#7c7c7c;
    line-height:auto;
    margin:0;
}

.pricingb a:hover {
	opacity: .6;
	-webkit-transition: opacity .3s ease-in-out; /* Safari */
	 -khtml-transition: opacity .3s ease-in-out; /* Konqueror HTML */
	   -moz-transition: opacity .3s ease-in-out; /* Firefox */
	    -ms-transition: opacity .3s ease-in-out; /* Internet Explorer/Edge */
	        transition: opacity .3s ease-in-out; /* Non-prefixed version, currently
												supported by Chrome and Opera */
}


.pricing-block-content {
    background: #fff;
    padding: 25px 0 25px 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
    transition: all 0.2s ease-in-out 0s;
    position: relative;
    border: 10px solid #fff;
}


.pricing-block ul {
    list-style: none;
    margin: 25px 0 25px 0;
}

.pricing-block li {
    padding: 14px 0;
    border-bottom: 1px dotted #e1e1e1;
}

.pricing-block li:last-of-type {
    border:none;
}

.pricing-block h3 {
    font-size:17px;
    text-transform:uppercase;
    padding-bottom:0;
}

.pricing-sub {
    font-style: italic;
    color:#ccc;
    margin:0 0 25px 0;
}

.pricing-block-content .button {
	position: relative;
	left: 0;
	
}

/*Price*/

.pricing {
    background: #f5f5f5;
    padding: 25px;
    position: relative;
}

.price {
    display: inline-block;
    font-size: 62px;
    font-weight: 700;
    position: relative;
}

.price span {
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 22px;
}

.pricing  p {
    font-style:italic;
    /*color:#8e8e8e;*/
    line-height:auto;
    margin:0;
}

.pricing a:hover {
	opacity: .6;
	-webkit-transition: opacity .3s ease-in-out; /* Safari */
	 -khtml-transition: opacity .3s ease-in-out; /* Konqueror HTML */
	   -moz-transition: opacity .3s ease-in-out; /* Firefox */
	    -ms-transition: opacity .3s ease-in-out; /* Internet Explorer/Edge */
	        transition: opacity .3s ease-in-out; /* Non-prefixed version, currently
												supported by Chrome and Opera */
}
